<div class="col-sm-4"></div>
<div class="col-sm-4">

	<div class="form-box">
		<div class="form-top">
			<div class="form-top-left">
				<h3>Login to our site</h3>
				<p>Enter username and password to log on:</p>
			</div>
			<div class="form-top-right">
				<i class="fa fa-lock"></i>
			</div>
		</div>
		<div class="form-bottom">
			<form role="form" action="" method="post" id="form" class="login-form">
				<div class="form-group">
					<label class="sr-only" for="username">Username</label>
					<input type="text" name="username" placeholder="Username" class="form-username form-control"
						id="username">
				</div>
				<div class="form-group">
					<label class="sr-only" for="password">Password</label>
					<input type="password" name="password" placeholder="Password..." class="form-password form-control"
						id="password">
				</div>
				<button type="submit" class="btn">Sign in!</button>
			</form>
		</div>
	</div>

	<div class="social-login">
		<h3>...or login with:</h3>
		<div class="social-login-buttons">
			<a class="btn btn-link-2" href="#">
				<i class="fa fa-facebook"></i> Facebook
			</a>
			<a class="btn btn-link-2" href="#">
				<i class="fa fa-twitter"></i> Twitter
			</a>
			<a class="btn btn-link-2" href="#">
				<i class="fa fa-google-plus"></i> Google Plus
			</a>
		</div>
	</div>


</div>
<div class="col-sm-4"></div>

	{{#section 'js'}}
	<script>
		$(function () {


			$('#form').validate({
				rules: {
					username: {
						required: true,
						
					},
					password: {
						required: true,

					}
				},
				messages: {
					username: {
						required: 'Bạn không được để trống username',
					},
					password: {
						required: 'Bạn không được để trống password',
					}
					
				},
				errorElement: 'small',
				errorClass: 'help-block text-danger',
				highlight: function (e) {
					$(e).removeClass('is-valid').addClass('is-invalid');
				},
				unhighlight: function (e) {
					$(e).removeClass('is-invalid').addClass('is-valid');
				}
			});
		})
	</script>
{{/section}}