{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}




<div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="signup-form">
        <form method="POST" id="form">
            <h2>Thông tin tài khoản</h2>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" name="old-password" placeholder="Mật khẩu cũ">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Mật khẩu mới">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-check"></i></span>
                    <input type="password" class="form-control" name="confirm" placeholder="Xác nhận mật khẩu">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Cập nhật</button>
            </div>

        </form>
    </div>

</div>
<div class="col-md-4"></div>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
<script>
    $(function () {


        $('#form').validate({
            rules: {

                password: {
                    required: true,
                    minlength: 6,

                },
                confirm: {
                    required: true,
                    equalTo: $('[name="password"]')

                }
            },
            messages: {

                password: {
                    required: 'Bạn không được để trống password',
                    minLength: 'Mật khẩu quá ngắn',
                },
                confirm: {
                    equalTo: 'Xác nhận mật khẩu không khớp',
                    required: 'Bạn không được để trống xác nhận password'
                }

            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
{{/section}}