		.tieude{
		font-weight: bold;
		text-transform: none;
		padding: 0px;
		color: black;
		}
		.blog-entry-travel .desc{
			padding: 10px;
			padding-left: 10px;
		}
		h4{
			margin: auto;
		}
		p{
			margin-bottom: 5px;
		}
	
			.editimg{
				margin-bottom: 50px;
			}
		.duyet{
			background-color: green;
			border-color: green;
		}
		.tuchoi{
			background-color: red;
			border-color: red;
		}
		textarea{
			width: 100%;
			resize: none;
		}