<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<style type="text/css">
		#main{
		
		}
	</style>
	<div id="main">
	  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, deleniti? Quos, aperiam ipsam. A expedita placeat iste dicta quis, rem, consequatur veritatis, aliquam voluptas amet porro quidem exercitationem facilis aperiam.
	</div>
	<button type="button" onclick="changeColor()">change color</button>
	<script type="text/javascript">
		var colors=['red', 'blue', 'purple'];
		var i=-1;
		function changeColor(){
			var k=Math.floor(Math.random() * colors.length);
			while(k===i){
				k=Math.floor(Math.random() * colors.length);
			}
			i=k;
			document.getElementById("main").style.color = colors[k];
		}
	</script>
</body>
</html>
