
		{{> menu r=this.rows}}
		<div id="colorlib-page">
			<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<h1 id="colorlib-logo"><a href="/">news</a></h1>
			<nav id="colorlib-main-menu" >
				<ul>
					<li class="colorlib-active"><a href="/">Trang Chủ</a></li>
					
					{{#each this.rows as |value|}}
   					<li><a id="dm" href="/chuyenmuc/giaitri">{{value.tenChuyenMuc}}</a></li>
 					 {{/each}}
					<li><a id="dm" href="/chuyenmuc/giaitri">Giải trí</a>
							<div class="submenu">
								<ul>
									<li><a href="/chuyenmuc?chuyenmuc=gioi">Giới sao</a></li>
									<li><a href="/chuyenmuc?chuyenmuc=giaitri">Phim</a></li>
									<li><a href="/chuyenmuc?chuyenmuc=giaitri">Nhạc</a></li>							
								</ul>
							</div>

					</li>



					<li><a href="danhsachbaiviet-chuyenmuc.html">Thể thao</a>
							<div class="submenu">
								<ul>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Bóng đá</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Tennis</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Các môn khác</a></li>
								</ul>
							</div>
					</li>
					<li><a href="danhsachbaiviet-chuyenmuc.html">Pháp luật</a>
						<div class="submenu">
								<ul>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Hồ sơ phá án</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Tư vấn </a></li>
								</ul>
							</div>
					</li>
					<li><a href="danhsachbaiviet-chuyenmuc.html">Giáo dục</a>
						<div class="submenu">
								<ul>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Tuyển sinh</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Du học</a></li>
								</ul>
							</div>
					</li>
					<li><a href="danhsachbaiviet-chuyenmuc.html">Sức khoẻ</a>
						<div class="submenu">
								<ul>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Các bệnh</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Khoẻ đẹp</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Tư vấn</a></li>
								</ul>
						</div>
					</li>
					<li><a href="danhsachbaiviet-chuyenmuc.html">Đời sống</a>
						<div class="submenu">
								<ul>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Tổ ấm</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Lối sống</a></li>
									<li><a href="danhsachbaiviet-chuyenmuc.html">Tiêu dùng</a></li>
								</ul>
						</div>
					</li>
					<li><a href="#myModal" class="trigger-btn" data-toggle="modal">Login</a></li>
					<li><a href="danhsachbaiviet.html">TAGS</a></li>
					<li><a href="Information.html">Tài khoản</a>
					</li>

				</ul>
			</nav>
		</aside>
		

		<!--Login show-->
		<div id="myModal" class="modal fade">
			<div class="modal-dialog modal-login">
				<div class="modal-content">
					<div class="modal-header">
						<div class="avatar">
							<img src="/examples/images/avatar.png" alt="Avatar">
						</div>				
						<h4 class="modal-title">Member Login</h4>	
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form action="/examples/actions/confirmation.php" method="post">
							<div class="form-group">
								<input type="text" class="form-control" name="username" placeholder="Username" required="required">		
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Password" required="required">	
							</div>        
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
							<a href="SignUp.html" >SignUp</a>
							
							<a href="#">Forgot password</a>
					</div>
				</div>
			</div>
		</div>  
			<div id="colorlib-main">
				<div class="colorlib-blog" >
					<div class="container-wrap" >
						<div class="row row-pb-lg">
							<div class="col-md-12 blog-slider">
								<div class="owl-carousel1">
									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(../../public/images/star-img1.jpg);" >
												<div class="desc desc2 text-center">
													<p class="tag"><span>Star Style</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Yeonwoo (MOMOLAND)</a></h2>
														<p>Công ty có thiếu tiền đâu, sao lại để Yeonwoo (Momoland) mặc quần trẻ con đi diễn thế này?</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(images/star-img1.jpg);" >
												<div class="desc desc2 text-center">
													<p class="tag"><span>Star Style</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Yeonwoo (MOMOLAND)</a></h2>
														<p>Công ty có thiếu tiền đâu, sao lại để Yeonwoo (Momoland) mặc quần trẻ con đi diễn thế này?</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(public/images/star-img1.jpg);" >
												<div class="desc desc2 text-center">
													<p class="tag"><span>Star Style</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Yeonwoo (MOMOLAND)</a></h2>
														<p>Công ty có thiếu tiền đâu, sao lại để Yeonwoo (Momoland) mặc quần trẻ con đi diễn thế này?</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(../../public/images/star-img1.jpg);" >
												<div class="desc desc2 text-center">
													<p class="tag"><span>Star Style</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Yeonwoo (MOMOLAND)</a></h2>
														<p>Công ty có thiếu tiền đâu, sao lại để Yeonwoo (Momoland) mặc quần trẻ con đi diễn thế này?</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(../../public/images/star-img2.jpg);">
												<div class="desc desc2 text-center">
													<p class="tag"><span>Star Style</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Girl in fashion</a></h2>
														<p>Dùng một chiếc túi nhưng vẫn có thể biến hóa theo nhiều phong cách khác nhau, Châu Bùi thực sự đáng nể</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(../../public/images/fashion-ico1.jpg);">
												<div class="desc desc2 text-center">
													<p class="tag"><span>FASHION ICO</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Street style</a></h2>
														<p>Street style giới trẻ Hàn tuần qua đẹp, chất quá mức quy định</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(../../public/images/howto1.jpg);">
												<div class="desc desc2 text-center">
													<p class="tag"><span>Fashion</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Chuyện công sở</a></h2>
														<p>Với 3 tips mặc đồ này, cô nàng 1m55 chinh phục đủ kiểu mốt mà nhìn không hề bị "nuốt dáng"</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="blog-entry">
											<div class="blog-img" style="background-image: url(../../public/images/fashion-ico2.jpg);">
												<div class="desc desc2 text-center">
													<p class="tag"><span>Fashion ico</span></p>
													<div class="desc-bottom">
														<h2 class="head-article"><a href="#">Chanel</a></h2>
														<p>Nếu không có Karl Lagerfeld, Chanel đã không trở thành một đế chế bất bại như ngày hôm nay</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 padding-custom" id="bai-viet-moi-nhat" >
								<hr><h2 class="uppercase">BÀI VIẾT MỚI NHẤT</h2><hr>
								<div class="row">
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-1.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Nature</span></p>
													<h2 class="head-article"><a href="single.html">Gym Fitness</a></h2>
													<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-2.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>auto</span></p>
													<h2 class="head-article"><a href="single.html">BMW i8</a></h2>
													<p>Even the all-powerful Pointing has no control about</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-5.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Sports</span></p>
													<h2 class="head-article"><a href="single.html">Surfing</a></h2>
													<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-6.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Movies</span></p>
													<h2 class="head-article"><a href="single.html">Liam Neeson</a></h2>
													<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 ">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-7.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Movies</span></p>
													<h2 class="head-article"><a href="single.html">John Wick</a></h2>
													<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 padding-custom"  id="bai-viet-xem-nhieu-nhat">
								<hr><h2 class="uppercase">BÀI VIẾT MỚI NHẤT</h2><hr>
								<div class="row">
									<div class="col-md-12">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-9.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Place</span></p>
													<h2 class="head-article"><a href="single.html">Nature</a></h2>
													<p>Even the all-powerful Pointing has no control about</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-10.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Place</span></p>
													<h2 class="head-article"><a href="single.html">Nature</a></h2>
													<p>Even the all-powerful Pointing has no control about</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 padding-custom" id="top-chuyen-muc">
								<hr><h2 class="uppercase">TOP CHUYÊN MỤC</h2><hr>
								<div class="row">
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-11.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>auto</span></p>
													<h2 class="head-article"><a href="single.html">BMW i8</a></h2>
													<p>Even the all-powerful Pointing has no control about</p>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-12.jpg);" id="anh-minh-hoa">
												<div class="desc text-center">
													<p class="tag" id="chuyen-muc"><span>Sports</span></p>
													<h2 class="head-article" id="ten-bai-viet"><a href="single.html">Boxing Sports</a></h2>
													<p class="ngay-dang">Even the all-powerful Pointing has no control about</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-13.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Place</span></p>
													<h2 class="head-article"><a href="single.html">Nature</a></h2>
													<p>Even the all-powerful Pointing has no control about</p>
												</div>
											</div>

										</div>
									</div>
									<div class="col-md-6">
										<div class="blog-entry animate-box">
											<div class="blog-img blog-img2" style="background-image: url(../../public/images/blog-13.jpg);">
												<div class="desc text-center">
													<p class="tag"><span>Place</span></p>
													<h2 class="head-article"><a href="single.html">Nature</a></h2>
													<p>Even the all-powerful Pointing has no control about</p>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="page">
							<div class="col-md-12 animate-box"  data-animate-effect="fadeInLeft">
								<ul class="pagination">
									<li class="disabled"><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
						
				</div>
			</div>
			<div class="footer" style="height: 50px;">

	    
	  		</div>	
	  		</div>
		</div>